html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    color: black;
    align-items: center;
    height: 3.9rem;
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
    position: sticky;
    top: 0rem;
    left: 0rem;
}
.navbar > h3{
    margin: 0px 2rem;
    font-size: 1.4rem;
}
.navbar #logos{
    font-size: 1.4rem;
}
.nav-check{
    display: none;
}
.nav-check-tool{
    display: none;
}
.navigation{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.navigation .item{
    margin: 7px 17px;
}
.navigation .item a{
    padding: 3px 12px;
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color:black;
}
.navigation .item a:hover{
    background: rgb(248, 7, 148);
    color: white;
}

/*Home*/
#home::before{
    content: "";
    background: url(/img/background.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
}
#home h3{
    font-size: 2.8rem;
}
#home span{
    font-size: 3rem;
}
#home p{
    width: 68%;
}
#home input{
    width: 6rem;
    text-align: center;
    color: white;
    background-color: rgb(248, 7, 148);
    padding: 0.7rem 0rem ;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#home input:hover{
    width: 7rem;
}
/*About us*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.979);
    color: black;
    height: 80vh;
    width: 100%;
}
#about .aboutus{
    width: 47%;
}
#about .aboutus h3{
    padding-top: 3rem;
    font-size: 1.8rem;
}
#about .aboutus p{
    font-size: 1rem;
}
#about img{
    width: 35rem;
    margin-left: 3.3rem;
}
/*menu*/
#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background: rgba(255, 255, 255, 0.979);
}
#menu h3{
    padding-top: 3rem;
    font-size: 1.9rem;
}
#menu p{
    font-size: 1.1rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
#menu .food{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 3rem;
}
#menu .food div{
    background-color: white;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.5);
}
#menu .food img{
    width: 22.5rem;
    padding: 2rem 1rem 1rem 1rem;
}
#menu .food p{
    font-size: 1.1rem;
    padding-left: 1rem;
    margin-bottom: 25px;
}
/*experts*/
#expert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.979);
    color: black;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
#expert .experts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
#expert h3{
    font-size: 1.7rem;
    text-align: center;
}
#expert > p{
    font-size: 1.1rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
}
#expert .experts .expert-images{
 margin: 2.22rem;   
}
#expert img{
    width: 12rem;
}


/*Services*/
#services::before{
    content: "";
    background: url(/img/services.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 80vh;
    z-index: -1;
    opacity: 0.4;
}
#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    color:white;
}
.services{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
#services > p{
    margin-top: -1rem;
    font-size: 1rem;
}
.services .items{
    background: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
    border: none;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
    margin: 20px 24px;
    width: 23rem;
}
.services .items img{
    width: 12rem;
    height: 10rem;
    margin: 0px;
}

.services .items .para{
    padding: 0px 26px;
    font-size: 1rem;
}

.services .item{
    margin: 0;
    font-size: 1.5rem;
}


/* Contact us*/
#contact::before{
    content: "";
    background: url(/img/contact1.jpg) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#contact{
    color: black;
    height: 100vh;
    width: 100%;
}
#contact > h3, #contact p{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact > h3{
    font-size: 1.7rem;
    padding-top: 2rem;
}
#contact p{
    margin-top: -1rem;
}
.contactus{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: 3rem;
    width: 27rem;
    background:white;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
.contactus form h3{
    font-size: 1.3rem;
    text-align: left;
    margin-top: 4rem;
    margin-left: 2.5rem;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1.5rem;

}
.inputs input, .inputs textarea{
    margin: 0.6rem 1rem;
    padding: 0.5rem;
    width: 20rem;
}
.inputs input[type="submit"]{
    width: 6rem;
    text-align: center;
    color: white;
    background-color: rgb(248, 7, 148);
    border: none;
    cursor: pointer;
}
/*footer*/
footer .footer{
    font-size: 15px;
    text-align: center;
    padding: 12px 0px;
}
/*common*/
span{
    color: rgb(248, 7, 148);
    font-size: 2.5rem;
}

@media only screen and (max-height:950px){
    #about{
        height: 115vh;
    }
}
@media only screen and (max-height:670px){
    #about{
        height: 145vh;
    }
}
@media only screen and (max-height:570px){
    #about{
        height: 160vh;
    }
}
@media only screen and (min-height:900px){
    #contact::before{
        height: 70vh;
    }
    #contact{
        height: 70vh;
    }
}